#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.row {
  display: flex;
}

.col {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
/*transform: scale 1.1*/

@keyframes buch {
  from{border-radius: 1000px; background: pink;}
  to{background: blue;}
}

