#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.row {
  display: flex;
}

.col {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1.5px solid black;
}
/*transform: scale 1.1*/

@keyframes buch {
  from{background: indigo;
    box-shadow: 0px 0px 6px black;
  transform: scale(-1.4);}
  to{background: pink;}
}

.buttons {margin-top: 20px;}

#linearbtn {
  margin-right: 60px;
}